*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

.navbar{
    height: 12vh;
    background-color: aliceblue;
    position: sticky;
    top: 0px;
    padding: 0px 30px 0px 30px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
.navbar-items{
    width: 40%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
.navbar-items a{
  text-decoration: none;
  color: black;
}
#home-page{
    height: 88vh;
    padding: 0 px 100px 0px 100px;
    justify-content: space-evenly;
    align-items: center;
    scroll-margin-top: 12vh;
}

.home-page-image{
    height: 250px;
    width: 250px;
    background-image: url(download.webp);
    background-position: center;
    background-size:cover;
    border-radius: 50%;
}
.home-page-content{
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    background-color: rgb(238, 255, 0);
}
.soacial-meadia{
    font-size: 25px;
    width: 150px;
    display: flex;
    justify-content:space-evenly;

}
#about-page{
   height: 20vh;
   padding: 0px 30px 0px 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   scroll-margin-top: 12vh;
}
.about-page-content{
    width: 100%;
    height: 80%;
    background-color: blue ;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.about-page-content p{
    width: 50%;
}
.my image{
    width: 40%;
    height: 65%;
    border-radius: 25px;
}
#skill-page{
    height: 30vh;
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    scroll-margin-top: 12vh;
}
.skill-page-content{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.skill-sub{
    width: 100;
    height: 25;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.skill-icon-head{
    height: 25%;
    display: flex;
    align-items: center;
}
.skill-icon-head i{
    font-size: 25px;
    color: rgb(226, 211, 43);
}
#contact-page{
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact-page-content{
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact_input{
    width: 90%;
    height: 13%;
    padding-left: 20px;
}
#message{
    height: 10%;
    padding-top: 50px;
}
#submit-btn{
    width: 20;
    height: 30;
    background-color: black;
    color: red;
}
#submit-btn:hover{
    background-color: white;
    color: black;
}
#home-page{
    display: flex;
    
}
#home-page-image{
  width: 20%;
  height: 20%;
}


